<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta http-equiv="refresh" content="120">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>    
    <script src="https://code.highcharts.com/highcharts.js"></script>
  </head>
  <style>
    body {
      padding: 50px;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    a {
      color: #00B7FF;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td {
      border: 1px solid #dddddd;
      text-align: right;
      padding: 8px;
    }
    th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    label {
      font-family: sans-serif;
      font-size: 1rem;
      padding-right: 10px;
    }

    select {
      font-size: 0.9rem;
      padding: 2px 5px;
    }

  </style>
  <body>
    <h1><%= title %></h1>
    <label for="type_affichage">Choisir un mode d'affichage:</label>

    <select name="type_affichage" id="type_affichage">
        <option value="monthly" <%=  type_affichage == 'monthly' ? 'selected' : '' %>  >Mois</option>
        <option value="daily" <%=  type_affichage == 'daily' ? 'selected' : '' %> >Jour</option>
    </select>
    </br>
    <table>
      <tr>
          <% for (var i =0; i <fields.length;  i++ ) { %>
              <th><%=  fields[i].name %></th>
          <% } %>
      </tr>
      <% for (var j =0; j <results.length;  j++ ) { %>
          <tr>
              <td><%=  results[j].ip %></td>
              <td><%=  results[j].lieu %></td>
              <td><%=  results[j].name %></td>
              <td><%=  results[j].id_oid %></td>
              <td><%=  results[j].user %></td>
              <td><%=  results[j]['bytes-in'] %></td>
              <td><%=  results[j]['bytes-out'] %></td>
              <td><%=  results[j]['Total en KB'] %></td>
              <td><%=  results[j]['Total en MB'] %></td>
              <td><%=  results[j]['Total en GB'] %></td>
              <td><%=  results[j]['Day'] %></td>
          </tr>
      <% } %>
    </table>
    <div id="container" style="width:100%; height:400px;"></div>
<script>
  var id_oid = <%- JSON.stringify(id_oid) %>;
  var type_affichage = <%- JSON.stringify(type_affichage) %>;
  $.ajax({
    type: 'get',
    url: '/data/graph/'+id_oid+'?type_affichage='+type_affichage,
    success: function (dataResult) {
      var seriesNameConverter = {
          'Download': 'Download',
          'Upload': 'Upload',
          'Total': 'Total'
      };
      const months = ["JAN", "FEB", "MAR","APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
      let current_datetime = new Date()
      let formatted_date = current_datetime.getDate() + "-" + months[current_datetime.getMonth()]
        Highcharts.chart('container', {
          legend: {
            labelFormatter: function () {
                return seriesNameConverter[this.name];
            }
          },
          chart: {
              type: 'line'
          },
          title: {
              text: 'Consomation M To '+formatted_date+' daily en GigaBytes'
          },
          xAxis: {
              categories: dataResult.data.categories
          },
          yAxis: {
              title: {
                  text: 'GigaBytes'
              }
          },
          tooltip: {
              pointFormatter: function() {
                  return '<span style="color:{point.color}">\u25CF</span> '
                      + seriesNameConverter[this.series.name] + ': <b>' + this.y  + ' GB </b><br/>';
              }
          },
          plotOptions: {
              line: {
                  dataLabels: {
                      enabled: true
                  },
                  enableMouseTracking: true
              }
          },
          series: dataResult.data.data,
          credits: {
            enabled: false
          }
        });
    }
  })
  $('#type_affichage').on('change', function(e) {
    var type_affichage = this.value
    $.ajax({
      type: 'get',
      url: '/update_affichage?idoid='+id_oid+'&type_affichage='+this.value,
      success: function	(resultat) {
        window.location.href = '/show/'+id_oid+'?type_affichage='+type_affichage;
      }
    })
  })
</script>
</body>
  
</html>
